img {
  border: 2px green solid;

}

#button {
  border: 10px lime solid;
  margin: 15px;
}

#why {
  background: lime
}

nav {
  margin-top: 5px;

  margin-bottom: 5px;
}

.jumbotron {
  background-image: url("../images/startup-banner1.jpg");
  color: white;
}

#jumbotron img {
  max-width: 100%;
  height: auto;
}
